*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 5px;

}

.container{
    /* position: relative; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    /* z-index: -1; */
}

.background{
    /* z axis pr 36px dur hai backgorund image and usko 9 times bda krdiya hai */
    transform: translateZ(-36px) scale(9);
}

.foreground{
    /* z axis pr 20px dur hai nd 6 times scale kiya hai */
    transform: translateZ(-20px) scale(5);
    
}

.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
h1{
    position: absolute;
    font-family: sans-serif;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%) ;
    font-size: 7rem;
    color: white;
    text-shadow: 0,0,10px rgba(0, 0, 0, 0.3);
}